.About{
    width: 1081px;
    height: 340px;
    margin: 0 auto;
    position: relative;
    }
.about_ptegi{
position: absolute;
width: 504px;
height: 120px;
left: 289.5px;
top: 10px;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 58px;
text-align: center;
color: #000000;
}
.about_ptegi1{
     position: absolute;
width: 552px;
height: 288px;
left: 264.5px;
top: 102px;
font-family: 'SourceSansPro';
font-size: 14px;
line-height: 16px;
text-align: justify;
color: #000000;
}