.Open{
    width: 1081px;
    height: 496px;
    position: relative;
    margin: 0 auto;
}
.open_tegi{
    width: 504px;
    position: absolute;
    left: 310px;
    height: 58px;    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;  
    text-align: center;    
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.open_img1{
    position: absolute;
    position: relative;
    left: 50px;
    top:102px;
}
.open_ptegi1{
    position: absolute;
    left:100px;
    right: 17.28%;
    top: 3.39%;
    bottom: 71.61%;    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    text-align: justify;
    
    color: #FFFFFF;
}
.open_img2{
    position: absolute; 
    left: 350px;
    top:102px;
}
.open_ptegi2{
    position: absolute;
    left:100px;
    right: 17.28%;
    top: 3.39%;
    bottom: 71.61%;    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    text-align: justify;    
    color: #FFFFFF;
}
.open_img3{
    position: absolute; 
    left: 650px;
    top:102px; 
}
.open_ptegi3{
    position: absolute;
    left:100px;
    right: 17.28%;
    top: 3.39%;
    bottom: 71.61%;    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    text-align: justify;    
    color: #FFFFFF;   
}
.open_more{
    position: absolute;
width: 160px;
height: 48px;
top: 500px;
left: 510px;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
text-align: center;
color: #F8C822;
flex: none;
order: 2;
flex-grow: 0;
}